<!--The content below is only a placeholder and can be replaced.-->
<!-- DATA BIND  FUNCTION -->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <h2 [class.titleClass]="titleClass">
  SUB TITLE
  </h2>
  <h2 [class]="titleClasss" >
  SUB TITLE 2 
  </h2>
  <h2 [ngClass]="titleClasses" [@myAnimation]='states' (click)="animateMe()">
  MULTI CLASSES {{states}}
  </h2>
  <p> {{heroclass.name}}</p>
  <p [style.color]="somestyle" >SOME TYPE TITLE</p>
  <p [style.color]="somestyles ? 'green' : 'blue'">SOME TYPE TITLE</p>
  <p [ngStyle]="msomestyles">SOME TYPE TITLE</p>
</div>
<!-- DATA BIND  FUNCTION -->

<!-- BIND EVENT CLICK FUNCTION -->
<input [(ngModel)] = "addelems"/><button (click)="addElem()">ADD</button>
<ul>
    <li *ngFor="let hero of heroes; let ind = index">
      {{ hero | uppercase }} <span (click)="removeItem(ind)">x</span>
    </li>
 </ul>
 <select>
 <option *ngFor="let hero of heroes" value ="{{hero}}"> {{ hero | lowercase }} </option>
 </select> <br/>
<!-- BIND EVENT CLICK FUNCTION -->

 <!-- BIND EVENT FUNCTION -->
 <input [(ngModel)]="calc" (keyup)="KeyDowned($event)" placeholder="name"/><b> {{calc}}</b> X <b>{{calc2}}</b> = <b>{{result}}</b>
 <br/><b> {{ servicestring }} </b>
 <ul>
	<li *ngFor="let some of cars">{{ some }}</li>
 </ul>
 <!-- BIND EVENT FUNCTION -->
 
 <!-- CUSTOM PIPE FUNCTION -->
  <ul hidden>
	<li *ngFor="let arrays of sort_array | sort:'dsc'">{{ arrays }}</li>
 </ul> 
 <!-- CUSTOM PIPE FUNCTION -->
 
  <!-- CUSTOM PIPE FUNCTION -->
 <b> {{ sort_array | sort:'asc'}}</b><br/>
 <b> {{ sort_array | sort:'dsc'}}</b>
  <!-- CUSTOM PIPE FUNCTION -->
  
  <!-- NGIF FUNCTION -->
 <p *ngIf="heroes.length > 2 then tmp1;else tmp2">There are many heroes!</p>
 <ng-template #tmp1> <H1>HIIII</H1> </ng-template>
 <ng-template #tmp2> <H3>NOO</H3> </ng-template>
  <!-- NGIF FUNCTION -->
  
  
  <!-- ROUTER FUNCTION -->
 <router-outlet></router-outlet>
 <a routerLink="/raz">RAZ</a>
 <a routerLink="/product">Product</a>
  <!-- ROUTER FUNCTION -->
  
 <p>{{ dates | date : 'shortDate'}}</p>
 <p>{{ dates | date : 'fullDate'}}</p>  <!-- Date PIPE FUNCTION -->
 <!-- <app-raztest></app-raztest> -->
 
 <!-- TEMPLATE DRIVEN -->
 <form #userForms = "ngForm" (ngSubmit)="onSubmit(userForms.value)">
	<input type="text" name="firstname" placeholder="Name" ngModel />
	<input type="text" name="lastname" placeholder="Last Name" ngModel/>
	 <select name="options" ngModel>
     <option *ngFor="let hero of heroes;let ind = index" value ="{{ind}}"> {{ hero | lowercase }} </option>
    </select> <br/>
	<input type="submit" value="submit"/>
 </form>
 <p>{{ f_result }}</p>
 <!-- TEMPLATE DRIVEN -->
<!-- MODEL DRIVEN -->
 <form  [formGroup]="form" (ngSubmit)="onSubmitm(form.value)">
	<input type="text" name="firstname" placeholder="Name" formControlName="firstname" />
	<input type="text" name="lastname" placeholder="Last Name" formControlName="lastname" />
	 <select name="options" formControlName="options" >
     <option *ngFor="let hero of heroes;let ind = index" value ="{{ind}}"> {{ hero | lowercase }} </option>
    </select> <br/>
	<input type="submit" [disabled]="!form.valid"value="submit"/>
 </form>
 <p>{{ m_result }}</p>
 <!-- MODEL DRIVEN -->
 <!-- HTTP FUNCTION -->
 <button (click)="webreq()">HTTP</button> 
 <b> {{ web_response }} </b>
 <!-- HTTP FUNCTION -->
  
